<div id="pad">
	<h3 translate>CarInfo</h3>
	<div id="myCarsInfoGrid"></div>
</div>
<script id="rowTemplateId" type="text/x-kendo-tmpl">
    <tr data-uid="#: uid #">
		<td>#: carNumber #</td>
		<td>#: driverId #</td>
		<td>#: zoneId #</td>
		<td>#: textMessageStatus #</td>
		<td>#: soonForHireTime #</td>
		<td>#: soonForHireZone #</td>
		<td>#: changedStatus #</td>
		<td>#: lastUpdate #</td>
		<td>#: workShiftStart #</td>
		<td>#: workShiftEnd #</td>
		<td>#: group #</td>
        
   </tr>
</script>